:root {
  --background: #000430;
  --secondBackground: #171c48;
  --text: #fff;
  --purple: #838dff;
  --teal: #24feee;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--background);
  color: var(--text);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: 120px auto 0 auto;
}
.stats-container {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--purple);
  gap: 40px;
  width: 100%;
  justify-content: space-between;
}
#progressBar {
  width: 100%;
  height: 15px;
  background-color: var(--secondBackground);
  border-radius: 5px;
  margin-top: 10px;
}
#progress {
  width: 50%;
  background-color: var(--teal);
  height: 15px;
  border-radius: 5px;
  transform: all 0.3s ease;
}
.details {
  width: 100%;
}
#numbers {
  height: 100px;
  width: 100px;
  display: flex;
  background-color: var(--purple);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bolder;
}
form {
  margin-top: 60px;
  display: flex;
  width: 100%;
}
input {
  padding: 10px;
  background-color: var(--secondBackground);
  border-radius: 12px;
  flex: 1;
  border: 1px solid var(--purple);
  gap: 10px;
  outline: none;
  color: var(--text);
}
button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  font-size: 12px;
  outline: none;
}
#taskList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  list-style-type: none;
}
.taskItem {
  display: flex;
  background-color: var(--secondBackground);
  padding: 10px;
  border-radius: 12px;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap:30px;
}
.task{
    display: flex;
    align-items: center;
    gap:12px;
    margin-left: 10px;
    min-height: 30px;
}
.checkBox {
    width: 20px; 
    height: 20px; 
    cursor: pointer; 
  }
  
 .icons .fa-solid{
    margin-right: 12px;
    font-size:20px;
    color:rgb(171, 68, 68);
    cursor: pointer;
}

.completed p{
    text-decoration: line-through;
    color: var(--text);
}
